.h2 {
    margin: 0;
}

.container {
    padding: 15px;
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.button {
    align-self: center;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 2rem;
}