.h1 {
    margin: 0;
}

.container {
    padding: 15px;
    flex-grow: 1;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.plate {
    display: block;
    width: 150px;
    height: 150px;
    border: 1px solid black;
}